:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #f0f0f0;
  --text-gray: #272626;
  --bg-overlay: #f2f0f1;
}

/* font's import start */
@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-Light.woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-Medium.woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-Bold.woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: Satoshi;
  src: url("../fonts/satoshi/Satoshi-BoldItalic.woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "integral-cf";
  src: url("../fonts/integral-cf/Fontspring-DEMO-integralcf-medium.otf");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "integral-cf";
  src: url("../fonts/integral-cf/Fontspring-DEMO-integralcf-bold.otf");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "integral-cf";
  src: url("../fonts/integral-cf/Fontspring-DEMO-integralcf-extrabold.otf");
  font-weight: 800;
  font-style: black;
}

/* font's import end */

/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Satoshi;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

/* announcement bar section start */
.announcement-bar-section {
  background: var(--black);
  padding: 10px 0;
}

.announcement-bar-wrap {
  position: relative;
}

.announcement-bar-cross-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.announcement-bar-cross-btn:hover {
  transform: rotate(180deg);
}

.announcement-bar-wrap h6 {
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.announcement-bar-wrap h6 a {
  color: var(--white);
  font-weight: 500;
}

/* announcement bar section end */

/* navbar start */
.navbar-section {
  padding: 24px 0;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 24px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  text-decoration: none;
  color: var(--black);
  font-family: satoshi;
  font-size: 16px;
  line-height: 1;
}

.navbar-icons-wrap {
  max-width: 680px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navbar-search-wrap {
  width: 100%;
  background: var(--gray);
  padding: 12px 16px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.navbar-search-box {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.search-btn {
  border: none;
  outline: none;
}

.navbar-icons {
  display: flex;
  gap: 14px;
}

/* navbar end */

/* hero section start */
.hero-section {
  background-color: var(--bg-overlay);
}
.hero-wrap {
  display: flex;
  align-items: center;
}
.hero-content-wrap {
  width: 50%;
  padding: 100px 0 116px;
}
.hero-content-title{
  font-family: "integral-cf";
  font-size: 64px;
  line-height: 1;
  font-weight: bold;
}
.hero-content-text {
  margin-top: 32px;
  font-family: 'Satoshi';
  font-size: 16px;
  line-height: 22px;
  margin-right: 100px;
}
.hero-content-btn {
  margin-top: 32px;
  width: 210px;
  height: 52px;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 62px;
}
.hero-counter-items {
  margin-top: 48px;
  display: flex;
}
.hero-counter-item {
  padding: 0 32px;
}
.hero-counter-item:first-child {
  padding-left: 0;
}
.hero-counter-item:nth-child(2) {
  border-left: 1px solid #C4C2C3;
  border-right: 1px solid #C4C2C3;
}
.hero-counter-item:last-child {
  padding-right: 0;
}
.hero-counter-title{
  font-family: 'Satoshi';
  font-size: 40px;
  font-weight: bold;
}
.hero-counter-text{
  font-family: 'Satoshi';
  font-size: 16px;
  line-height: 22px;
  color: var(--text-gray);
}

.hero-img-wrap {
  width: 50%;
  position: relative;
}
.hero-img {
  width: 100%;
  display: flex;
}
.star-one {
  position: absolute;
  max-width: 56px;
  width: 100%;
  left: -6%;
  top: 50%;
  transform: translateY(-50%);
}
.star-two {
  position: absolute;
  max-width: 104px;
  width: 100%;
  right: 5%;
  top: 13%;
}
/* hero section end */

/* brands logo section start */
.brands-logo-section {
  background: var(--black);
}

.brands-logo-wrap {
  padding: 42px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

/* brands logo section end */



/* product grid section start */
.product-grid-section {
  padding: 72px 0 64px 0;
}
.section-heading-wrap{
  margin-bottom: 55px;
  text-align: center;
}
.section-title{
  font-family: "integral-cf";
  font-weight: bold;
  font-size: 48px;
}

.product-grid-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-media{
  position: relative;
}
.product-media img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.second-product-img{
  position: absolute;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
}
.product-media:hover .second-product-img{
  visibility: visible;
  opacity: 1;
}
.product-info {
  margin-top: 16px;
}
.product-title {
  font-family: 'Satoshi';
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--black);
}
.product-rating {
  margin-top: 8px;
  display: flex;
  gap: 5px;
}
.rating-icons {
  display: flex;
  gap: 5px;
}
.rating-info p {
  font-family: 'Satoshi';
  font-size: 14px;
}
.rating-info p span{
  color: #666666;
}
.product-price {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}
.current-price,
.previous-price {
  font-family: 'Satoshi';
  font-size: 24px;
}
.previous-price{
  color: #999999;
  text-decoration: line-through;
}
.price-discount-badge {
  font-family: 'Satoshi';
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
  padding: 6px 14px;
  border-radius: 50px;
  background: #FFEBEB;
  color: #FF3333;
}
.section-btn {
  margin-top: 36px;
  text-align: center;
}
.btn-outline {
  width: 218px;
  display: inline-block;
  height: 52px;
  border: 1px solid #E5E5E5;
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 500;
  line-height: 3;
  text-decoration: none;
  border-radius: 50px;
  color: var(--black);
  transition: .3s ease;
}
.btn-outline:hover{
  background-color: #E5E5E5;
}

.divider-line{
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

/* collection banner section start */
.collection-banner-section {
  margin: 64px 0;
}
.collection-banner-overlay {
  background: #F0F0F0;
  padding: 70px 64px 76px;
  border-radius: 40px;
}
.collection-banner-wrap{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.collection-banner-item{
  position: relative;
  min-height: 290px;
  height: 100%;
  background: var(--white);
  border-radius: 20px;
  overflow: hidden;
}
.collection-banner-link {
  position: absolute;
  inset: 0;
}
.collection-banner-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease;
}
.collection-banner-item:hover .collection-banner-link img{
  transform: scale(1.1);
}
.collection-banner-heading {
  font-family: 'Satoshi';
  font-size: 36px;
  font-weight: bold;
  color: var(--black);
  position: absolute;
  top: 25px;
  left: 36px;
}
.collection-banner-item:nth-child(1) {
  grid-column: span 2;
}
.collection-banner-item:nth-child(2) {
  grid-column: span 3;
}
.collection-banner-item:nth-child(3) {
  grid-column: span 3;
}
.collection-banner-item:nth-child(4) {
  grid-column: span 2;
}
@media screen and (max-width: 768px){
  .collection-banner-wrap {
    grid-template-columns: 1fr;
  }
  .collection-banner-item:nth-child(1),
  .collection-banner-item:nth-child(2),
  .collection-banner-item:nth-child(3),
  .collection-banner-item:nth-child(4) {
    grid-column: span 1;
  }
}
/* collection banner section end */


/* customer review section start */
.customer-review-section {
  margin-bottom: 170px;
}
.customer-review-section .section-heading-wrap {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-carousel-arrows {
  display: flex;
  gap: 16px;
}
.review-carousel-arrows span{
  cursor: pointer;
}
.customer-review-item {
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  padding: 28px 32px;
  height: auto;
}
.customer-review-name {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.customer-review-name h4 {
  font-family: 'Satoshi';
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}
.customer-review-text p {
  margin-top: 10px;
  font-family: 'Satoshi';
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.customer-review-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background: rgba( 255, 255, 255, 0.5 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  z-index: 2;
}
.customer-review-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  background: rgba( 255, 255, 255, 0.5 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  z-index: 2;
}
/* customer review section end */

/* Footer Section start */
footer {
  background: #F0F0F0;
}
.newsletter-wrap {
  padding: 36px 64px;
  background: var(--black);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-radius: 20px;
  transform: translateY(-50%);
}
.newsletter-heading{
  font-family: "integral-cf";
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
}
.newsletter-form {
  display: flex;
}
.newsletter-form .form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: auto;
}
.form .email-field-wrap{
  position: relative;
  padding: 14px 52px;
  width: 349px;
  height: 48px;
  border-radius: 62px;
  background-color: var(--white);
}
.form .email-field-wrap::before {
  content: "";
  position: absolute;
  background-image: url('../img/envelope-icon.svg');
  z-index: 15;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 18px;
}
.form .email-field-wrap input {
  width: 100%;
  font-family: 'Satoshi';
  font-size: 16px;
  color: #999999;
  border: none;
  outline: none;
}

.form button {
  width: 349px;
  height: 46px;
  border-radius: 62px;
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 500;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 1.6fr 1fr 1fr 1fr 1fr;
  gap: 113.5px;
  margin-bottom: 50px;
}
.footer-description {
  font-family: 'Satoshi';
  font-size: 14px;
  line-height: 22px;
  margin-top: 25px;
  color: #606060;
}
.social-icons {
  margin-top: 35px;
}
.social-icons a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 8px 4px;
  border: 1px solid #CCCCCC;
  border-radius: 50px;
  cursor: pointer;
  transition: .3s ease;
}
.social-icons a:hover {
  background-color: var(--black);
}
.social-icons a:hover svg {
  color: var(--white);
}
.footer-menu-title {
  font-family: 'Satoshi';
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-menu-items{
  list-style: none;
  margin-top: 26px;
}
.footer-menu-item {
  margin-bottom: 20px;
}
.footer-menu-item a{
  text-decoration: none;
  color: #606060;
  transition: .3s ease;
}
.footer-menu-item a:hover{
  color: var(--black);
  text-decoration: underline;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #0000001a;
}
/* Footer Section End */